#nameTypeSelection {
	min-width: 300px;
}

#nameTypeSelection h2 {
	margin-bottom: 4px;
}

#nameTypeSelection > div {
	align-items: center;
	display:flex;
	padding: 2px 0px 2px 8px;
}

#nameTypeSelection label {
	width: 100px;
}

#nameTypeSelection select {
	flex-grow: 1;
}

#nameTypeSelection > div > div:last-child {
	position: relative;
	right: -8px;
}

#nameTypeSelection i.fas {
	cursor: pointer;
}

#nameTypeSelection i.fas:hover {
	cursor: pointer;
	text-shadow: 0px 0px 5px lime;
}