#nameFilters h2 {
	margin-bottom: 4px;
}

#nameFilters > div {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

#nameFilters > div > * {
	margin-right: 10px;
}

#nameFilters > div > *:last-child {
	margin-right: 0px;
}