:root {
  --panel-background: #26272a;
  --panel-border: #101418;
  --item-border: black;
}

body {
  background-color: black;
  color: white;
  padding: 0 20px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0px;
  text-align: center;
}

section {
  background-color: var(--panel-background);
  border: solid 2px var(--panel-border);
  border-radius: 8px;
  padding: 10px 20px;
}

@media screen and (max-width: 440px) {
	button, select {
    height: 32px;
    padding: 4px 8px;
  }
}