:root {
  --panel-background: #404040;
  --panel-border: #202020;
  --item-border: #202020;
}

body {
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0px;
  text-align: center;
}

section {
  background-color: var(--panel-background);
  border: solid 2px var(--panel-border);
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
}

.subSection {
  border: solid 1px var(--item-border);
  border-radius: 4px;
  padding: 8px 16px;
}